:root {
    --text_color: rgb(231, 230, 216);
    --light_text_color: rgba(231, 230, 216, 0.822);

    --text_bg_color: rgb(44, 46, 51);

    --text_bg_hover_color: rgb(39, 40, 44);
    --text_bg_selected_color: rgba(121, 121, 121, 0.5);
    
    --hovermenu_bg_color: rgb(44, 46, 51);
    --hovermenu_bg_hover_color: rgb(51, 53, 58);

    --accent_dark: #149262;
    --accent_light: #27b17c;

    --border_color: #1e1f22;

    --dark_bg: #212225;
    --medium_dark_bg: #26272b;
}

* {
    margin: 0%;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    /* .main_content {
        width: 75%;
    } */
}

.channel_and_servers {
    background-color: var(--medium_dark_bg);
    min-width: 400px;
    display: flex;
    flex-direction: row;
}

.servers {
    min-width: calc(64px + 16px);
    background-color: var(--dark_bg);
}

.main_content {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* width: 75%; */
    flex-grow: 1;
    max-height: 100vh;
    .input {
        margin-top: auto;
    }
}

.top {
    background-color: var(--text_bg_color);
    height: 3em;
    max-height: 3em;
    color: var(--text_color);
    /* font-size: large; */
    /* padding-top: 1em; */
    /* /* padding-left: 1em; */
    border-bottom: 1px solid var(--border_color);
    /* border-bottom: 2px; */
    h1 {
        /* position: relative; */
        margin-left: 1em;
    }

}

.loader {
    /* background-color: red; */
    height: 1em;
    flex-shrink: 0;
}

.chat {
    flex-shrink: 1;

    height: calc(100vh - 9.5em);
    background-color: var(--text_bg_color);
    color: var(--text_color);
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

.username {
    color: rgb(147, 240, 167);
}

.datetime {
    color: var(--light_text_color);
    padding-left: 1em;
    font-size: 0.8em;
}

.message_top {
    padding-bottom: 0.3em;

    p {
        display: inline;
    }

}

.message {
    /* word-break: break-all; */
    /* transition-property: background-color;
    transition-duration: 0.3s; */
    word-break: break-word;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    img {
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: -0.3rem;
    }

    .hovermenu {
        display: none;
    }
}

.bigimg {
    img {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 0%;
    }
}

.message:hover {    
    background-color: var(--text_bg_hover_color);

    .hovermenu {
        display: block;
    }
}

.message_selected {
    background-color: var(--text_bg_selected_color);
}

.fade_bg {
    transition-property: background-color;
    transition-duration: 0.4s;
}

.message_highlight {
    background-color: var(--text_bg_selected_color);
}

.message_selected:hover {
    background-color: var(--text_bg_selected_color);
}

.message_reply {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    display: flex;
    flex-direction: row;
    
    gap: 0.6rem;

    p {
        margin-top: auto;
        margin-bottom: auto;
    }
    
}

.hovermenu {
    height: 0%;

    .menu_items {
        border: solid;
        border-width: 2px;
        background-color: var(--hovermenu_bg_color);
        border-color: var(--accent_dark);
        border-radius: 10px;
        overflow: hidden;

        margin-top: -1em;
        position: relative;
        float: right;
    }

    button {
        background-color: var(--hovermenu_bg_color);
        border: none;
    }

    button:hover {
        background-color: var(--hovermenu_bg_hover_color);
    }

    .reaction_button {
        padding: 1px;
    }
}

.input {
    color: var(--text_color);
    background-color: var(--dark_bg);
    border-top: 2px;
    /* max-width: 100vw; */
    width: 100%;
    
    /* width: auto; */

    padding-top: 0.5em;
    padding-bottom: 1em;

    /* position: absolute; */
    position: relative;
    bottom: 0;

    vertical-align: bottom;

    button {
        height: min-content;
        border: none;
        border-radius: 100%;
        aspect-ratio: 1;
        background-color: #212225;
        padding: 5px;
    }

    button:hover {
        background-color: #33353a;
    }

    .send {
        /* background-color: #12704c; */
        background-color: var(--accent_dark);
    }

    .send:hover {
        /* background-color: #149262; */
        background-color: var(--accent_light);
    }
}

.input_container {
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
}

.input_replying_container {
    margin-left: 1em;
    margin-right: 1em;
    display: none;
    flex-direction: row;
    gap: 5px;

    p {
        margin-top: 5px;
    }
}

.text_input_container {
    /* width: calc(100% - 60px); */
    width: 100%;
    margin-right: 1em;

}

.text_input {
    word-break: break-all;
    max-height: 8rem;
    overflow: scroll;
    /* color: white; */
    /* background-color: #383a40; */
    background-color: var(--text_bg_color);
    padding: 8px;
    /* white-space: pre-wrap; */
    /* white-space: pre-line; */
    white-space: break-spaces;
    border-radius: 8px;
    width: calc(100% - 6px);
    border: 3px solid transparent;
}

.text_input:focus {
    outline: none !important;
    /* border: 2px solid #149262; */
    /* border-color: #149262; */
    border-color: var(--accent_light);
}

.auth_prompt {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.login {
    background: rgb(33, 29, 48);
    color: white;
    text-align: center;
    padding: 3em;
    border-radius: 15px;

    div {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.auth_failure {
    display: none;
    color: red;
}